
texteditor/cmake-build-debug/CMakeFiles/

texteditor/cmake-build-debug/texteditor_autogen/

texteditor/cmake-build-debug/cmake_install\.cmake

texteditor/cmake-build-debug/CMakeCache\.txt

texteditor/cmake-build-debug/Makefile

texteditor/cmake-build-debug/

texteditor/\.idea/
